<div class="sidebar">
  <ul>
    <li><a href="[% base_url %]/home/">Home</a></li>
    <li>
      <a href="[% base_url %]/download/">Download</a>
      <ul>
        <li><a href="[% base_url %]/download/distributions/">Distributions</a></li>
        <li><a href="[% base_url %]/download/source-repository/">Source Repository</a></li>
        <li><a href="[% base_url %]/download/installation/">Installation</a></li>
      </ul>
    </li>
    <li><a href="[% base_url %]/news/">News</a></li>
  </ul>
</div>
